:root{
    scroll-behavior: smooth;
    --bg-img: url();
    --text-color:rgb(107, 27, 246);
    --bg-color:rgba(0, 0, 0, 0.744);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.container .row .col .lista{
    
}